[Unit]
Description=Permanent.org Notification Service
After=network.target

[Service]
Type=simple
WorkingDirectory=/data/www/notification-service
ExecStart=node /data/www/notification-service/lib/index.js
KillMode=process
Restart=always
User=www-data
Group=www-data
EnvironmentFile=/etc/permanent/notification-service.env

[Install]
WantedBy=multi-user.target
